{%- unless product.has_only_default_variant -%}
  {%- if block.settings.show_variants == true -%}
    {%- for option in product.options_with_values -%}
      {% if product.options.size > 1 -%}

          <variant-radios
            class="no-js-hidden"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}"
            {{ block.shopify_attributes }}
          >
            <fieldset class="js product-form__input">
              <legend class="form__label">{{ option.name }}</legend>
              {%- for value in option.values -%}
                <input
                  type="radio"
                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                  name="{{ option.name }}"
                  value="{{ value | escape }}"
                  form="{{ product_form_id }}"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}

                >
                {% if option.name == "Color" %}
              <label style="background-image: url({{ value | append: '.png' | file_url }}) !important; background-size: cover; background-position: center; width: 60px; height: 60px;" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
              </label>
              {% else %}
              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                  {{ value }}
                </label>
              {% endif %}
              {%- endfor -%}
            </fieldset>
            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </variant-radios>
        {% else %}
          <variant-selects
            class="no-js-hidden"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}"
            {{ block.shopify_attributes }}
          >
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select
                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                >
                  {%- for value in option.values -%}
                    <option value="{{ value | escape }}">
                      {{ value }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>

            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </variant-selects>
        {%- endif -%}

    {% endfor %}
  {% endif %}
{%- endunless -%}
